{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>{{ recipe.title }} - Scrumptious Recipes</title>
</head>
    <header>
        <nav class="nav_bar">
            {% if user.is_authenticated %}
            <div class="main_nav">
                <a  class="navigation" href="{% url 'recipe_list' %}">Main Page</a>
                <a  class="navigation" href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
            </div>
            <span></span>
            <span class="user_nav">
              <span class="user_greeting"> Hello, {{ user.username }}!</span>
              <a class="navigation" href="{% url 'my_recipe_list' %}">My recipes</a>
              <a class="navigation" href="{% url 'create_recipe' %}">Create a Recipe</a>
              <a class="navigation" href="{% url 'user_logout' %}">Log Out</a>
            </span>
            {% else %}
            <div class="main_nav">
                <a  class="navigation" href="{% url 'recipe_list' %}">Main Page</a>
            </div>
            <span></span>
            <span class="login_container">
                <a class="navigation login" href="{% url 'signup' %}">Sign Up</a>
                <a class="navigation login" href="{% url 'user_login' %}">Log In</a>
            </span>
            {% endif %}
        </nav>
    </header>
<body>
    <main class="detail_main">
        <h1 class="darkgreen">{{ recipe.title }}</h1>
        <div class="image_container">
        <img class="food_image" src="{{ recipe.picture }}"/>
        </div>
        <div class="ratings_container_detail">
            <span class="rating_item">4.3 stars</span>
            <span class="rating_item">
                {% if recipe.vegan %}
                 <img class="icons" src="{% static 'images/vegan.png' %}" alt="Vegan Icon">
                {% elif recipe.vegetarian %}
                 <img class="icons" src="{% static 'images/vegetarian.png' %}" alt="Vegetarian Icon">
                {% endif %}
            </span>
        </div>
        <p>{{ recipe.description }}</p>
        <h2>Ingredients</h2>
        <table class="striped-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
           {% for step in recipe.steps.all %}
           <li>{{ step.instruction }}</li>
           {% endfor %}
        </ol>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
