

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>Edit {{ recipe.title }} - Scrumptious Recipes</title>
</head>
    <header>
        <nav>
            <a class="navigation" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
<body>
    <main>
        <h2>Edit Recipe</h2>
        <form method="post">
          {% csrf_token %}
          {{ post_form.as_p }}
          <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'show_recipe' recipe.id %}">Cancel</a>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
