{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <title>
            {% block title %} {% endblock title %}
        </title>
    </head>
    <body>
        <main class="caveat">
            {% block content %} {% endblock content %}
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
    </html>
